<div class="site-content" id="instructor">
  <main class="main" id="main">
    <article>
      <div class="entry-content">
        <div class="container-fluid black-wrapper instructors-wrapper">
          <div class="container page-container px-0 pb-4">
            <div class="page-heading-cont py-4 py-lg-5 d-flex justify-content-between">
              <div class="page-head-left">
                <h2 class="page-top-heading"><span><span class="mr-1" style="font-size:40px; font-weight:200;">THE</span> <span class="ml-2" style="letter-spacing:15px;"> TEAM<span></span></span></span></h2>
              </div>
              <div class="page-head-right pt-4">
                <a href="/aboutus" class="btn btn-primary btn-about">About Us</a>
              </div>
            </div>
            <div class="row">
              <div class="col-12 px-xl-0 d-flex flex-wrap insturct-boxes-cont pb-4 pb-lg-5 mb-lg-5">
                <div class="col-12 col-md-6 col-lg-4 px-0 insturct-box">
                  <div class="premium-banner">
                    <div class="premium-banner-ib">
                      <div class="premium-banner-border">
                        <div class="premium-banner-br premium-banner-bleft premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-bright premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-btop premium-banner-brtb"></div>
                        <div class="premium-banner-br premium-banner-bottom premium-banner-brtb"></div>
                      </div>
                      <%= image_tag 'inst/rilley.jpg', alt: 'HIGH/RIDE', width: "108", class: "attachment-full size-full"%>
                      <div class="premium-banner-ib-desc">
                        <div class="premium-banner-desc-centered">
                          <div class="premium-banner-title-wrap"><h3 class="premium-banner-ib-title premium_banner_title">RILEY</h3></div>
                        </div>
                      </div>
                      <a class="premium-banner-ib-link" href="#" title=""></a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 px-0 insturct-box">
                  <div class="premium-banner">
                    <div class="premium-banner-ib">
                      <div class="premium-banner-border">
                        <div class="premium-banner-br premium-banner-bleft premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-bright premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-btop premium-banner-brtb"></div>
                        <div class="premium-banner-br premium-banner-bottom premium-banner-brtb"></div>
                      </div>
                      <%= image_tag 'inst/j-wess.jpg', alt: 'HIGH/RIDE', width: "108", class: "attachment-full size-full"%>
                      <div class="premium-banner-ib-desc">
                        <div class="premium-banner-desc-centered">
                          <div class="premium-banner-title-wrap"><h3 class="premium-banner-ib-title premium_banner_title">J-WESS</h3></div>
                        </div>
                      </div>
                      <a class="premium-banner-ib-link" href="#" title=""></a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 px-0 insturct-box">
                  <div class="premium-banner">
                    <div class="premium-banner-ib">
                      <div class="premium-banner-border">
                        <div class="premium-banner-br premium-banner-bleft premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-bright premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-btop premium-banner-brtb"></div>
                        <div class="premium-banner-br premium-banner-bottom premium-banner-brtb"></div>
                      </div>
                      <%= image_tag 'inst/jamie.jpg', alt: 'HIGH/RIDE', width: "108", class: "attachment-full size-full"%>
                      <div class="premium-banner-ib-desc">
                        <div class="premium-banner-desc-centered">
                          <div class="premium-banner-title-wrap"><h3 class="premium-banner-ib-title premium_banner_title">Jamie Holman</h3></div>
                        </div>
                      </div>
                      <a class="premium-banner-ib-link" href="#" title=""></a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 px-0 insturct-box">
                  <div class="premium-banner">
                    <div class="premium-banner-ib">
                      <div class="premium-banner-border">
                        <div class="premium-banner-br premium-banner-bleft premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-bright premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-btop premium-banner-brtb"></div>
                        <div class="premium-banner-br premium-banner-bottom premium-banner-brtb"></div>
                      </div>
                      <%= image_tag 'inst/danille.jpg', alt: 'HIGH/RIDE', width: "108", class: "attachment-full size-full"%>
                      <div class="premium-banner-ib-desc">
                        <div class="premium-banner-desc-centered">
                          <div class="premium-banner-title-wrap"><h3 class="premium-banner-ib-title premium_banner_title">Danille</h3></div>
                        </div>
                      </div>
                      <a class="premium-banner-ib-link" href="#" title=""></a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 px-0 insturct-box">
                  <div class="premium-banner">
                    <div class="premium-banner-ib">
                      <div class="premium-banner-border">
                        <div class="premium-banner-br premium-banner-bleft premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-bright premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-btop premium-banner-brtb"></div>
                        <div class="premium-banner-br premium-banner-bottom premium-banner-brtb"></div>
                      </div>
                      <%= image_tag 'inst/celine.jpg', alt: 'HIGH/RIDE', width: "108", class: "attachment-full size-full"%>
                      <div class="premium-banner-ib-desc">
                        <div class="premium-banner-desc-centered">
                          <div class="premium-banner-title-wrap"><h3 class="premium-banner-ib-title premium_banner_title">Celine</h3></div>
                        </div>
                      </div>
                      <a class="premium-banner-ib-link" href="#" title=""></a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 px-0 insturct-box">
                  <div class="premium-banner">
                    <div class="premium-banner-ib">
                      <div class="premium-banner-border">
                        <div class="premium-banner-br premium-banner-bleft premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-bright premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-btop premium-banner-brtb"></div>
                        <div class="premium-banner-br premium-banner-bottom premium-banner-brtb"></div>
                      </div>
                      <%= image_tag 'inst/staz.jpg', alt: 'HIGH/RIDE', width: "108", class: "attachment-full size-full"%>
                      <div class="premium-banner-ib-desc">
                        <div class="premium-banner-desc-centered">
                          <div class="premium-banner-title-wrap"><h3 class="premium-banner-ib-title premium_banner_title">Staz</h3></div>
                        </div>
                      </div>
                      <a class="premium-banner-ib-link" href="#" title=""></a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 px-0 insturct-box">
                  <div class="premium-banner">
                    <div class="premium-banner-ib">
                      <div class="premium-banner-border">
                        <div class="premium-banner-br premium-banner-bleft premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-bright premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-btop premium-banner-brtb"></div>
                        <div class="premium-banner-br premium-banner-bottom premium-banner-brtb"></div>
                      </div>
                      <%= image_tag 'inst/melissa.jpg', alt: 'HIGH/RIDE', width: "108", class: "attachment-full size-full"%>
                      <div class="premium-banner-ib-desc">
                        <div class="premium-banner-desc-centered">
                          <div class="premium-banner-title-wrap"><h3 class="premium-banner-ib-title premium_banner_title">Melisa Jamie</h3></div>
                        </div>
                      </div>
                      <a class="premium-banner-ib-link" href="#" title=""></a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 px-0 insturct-box">
                  <div class="premium-banner">
                    <div class="premium-banner-ib">
                      <div class="premium-banner-border">
                        <div class="premium-banner-br premium-banner-bleft premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-bright premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-btop premium-banner-brtb"></div>
                        <div class="premium-banner-br premium-banner-bottom premium-banner-brtb"></div>
                      </div>
                      <%= image_tag 'inst/jt.jpg', alt: 'HIGH/RIDE', width: "108", class: "attachment-full size-full"%>
                      <div class="premium-banner-ib-desc">
                        <div class="premium-banner-desc-centered">
                          <div class="premium-banner-title-wrap"><h3 class="premium-banner-ib-title premium_banner_title">JT</h3></div>
                        </div>
                      </div>
                      <a class="premium-banner-ib-link" href="#" title=""></a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 px-0 insturct-box">
                  <div class="premium-banner">
                    <div class="premium-banner-ib">
                      <div class="premium-banner-border">
                        <div class="premium-banner-br premium-banner-bleft premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-bright premium-banner-brlr"></div>
                        <div class="premium-banner-br premium-banner-btop premium-banner-brtb"></div>
                        <div class="premium-banner-br premium-banner-bottom premium-banner-brtb"></div>
                      </div>
                      <%= image_tag 'inst/christine.jpg', alt: 'HIGH/RIDE', width: "108", class: "attachment-full size-full"%>
                      <div class="premium-banner-ib-desc">
                        <div class="premium-banner-desc-centered">
                          <div class="premium-banner-title-wrap"><h3 class="premium-banner-ib-title premium_banner_title">CHRISTINE <br>LONDOÑO</h3></div>
                        </div>
                      </div>
                      <a class="premium-banner-ib-link" href="#" title=""></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid booking-sect">
        <div class="container">
          <div class="col-12 p-2 text-center">
            <div class="py-3">
              <h2 class="book-heading"><%= link_to 'Book A Class', calendar_path, class: "book-a-class" %> <i class="fas fa-angle-right"></i></h2>
            </div>
          </div>
        </div>
      </div>
    </article>
  </main>
</div>